body{
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

.principal{
	display: flex;
	flex-direction: column;
}

.logo{
	display: flex;
	width: 50%;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.3em;
	color: black;
}

.logo > strong{
	padding-top: 5px;
	padding-bottom: 5px;
  padding-left: 50px;
} 

.icon{
	width: 80px;
  transition: all 0.3s;
}

.icon:hover{
  width: 90px;
  transition: all 0.3s;
}
  
.menu{
	width: 50%;
}

.menu > ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
  padding-top: 5px;
  padding-right: 5px;
}

li{
	cursor: pointer;
	color: black;
	transition: all 0.3s;
	border:solid 2px #52796F;
	padding: 8px;
	border-radius: 5px;
  font-size: 18px;
}

li:hover{
	color: #CAD2C5;
	border-color: #CAD2C5;
  font-weight: bold;
  font-size: 22px;
}

.navbar{
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 60px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
  
.big-lemma{
	font-size: 3em;
	font-weight: bold;
	margin-bottom: 15px;
}

.sub-lemma{
	font-size: 0.8em;
	color: black;
}

small{
	font-size: 0.7em;
	color: black;
}

.logoD{
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 15px;
}

.textD{
	font-size: 0.9em;
	color: #f3f3f3;
	text-align: justify;
}

.imageO{
	margin-right: 30px;
}

a{
	color: #f3f3f3;
	text-decoration: none;
	
	padding: 3px;
	transition: all 0.3s;
	border-radius: 5px;
}

a:hover{
	border-color: #2F3E43;
}


footer > div{
	width: 30%
}
